.leftCol {
  display: block;
  float:left;
  width: 47%;
}
.add-user-container {
  display: inline-block;
  float:left;
  width: 50%;
}
.add-user-container input {
  font-size: 15px;
  line-height: 18px;
  padding: 3px;
  outline: none;
}
.add-user-container button {
  display: inline-block;
  border: 0px #000 solid;
  background: #0066CF;
  color:#FFF;
  padding: 5px 10px;
  margin-left: 10px;
  cursor:pointer;
  font-size: 14px;
}

.message-box {
  display: inline-block;
  margin-top: 20px;
  float:left;
  width: 400px;
}
.message-box-title {
  color:#000;
  background: #DDD;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border: 1px #AAA solid;
  border-bottom: 0px;
  font-size: 15px;
  padding: 10px;
}
.message-box-content {
  border: 1px #AAA solid;
  border-top: 0px;
  display: block;
  padding: 10px;
}
.message-box-form {
  display: block;
}
.message-box-form textarea {
  display: block;
  border: 1px #DDD solid;
  min-height: 100px;
  width: 370px;
  padding: 5px;
  font-size: 15px;
}
.message-box-form button {
  display: block;
  margin-top: 10px;
}

.chatbox-container {
  display: block;
  float:right;
  width: 50%;
  border: 1px #DDD solid;
  margin-right: 30px;
  min-height: 500px;
}
